# Node
node_modules/
**/node_modules/

# Environment variables
.env
.env.*
!.env.example

# Build
dist/
build/
**/dist/
**/build/

# Vite
.vite/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Coverage
coverage/